$dialog-modal-bg-color: rgba(#000000, 0.35);
$dialog-bg-color: #ffffff;
$dialog-border-radius: 1rem;
$dialog-max-width: 640px;
$dialog-max-height: 480px;
$dialog-font-size: 1rem;
$dialog-title-font-size: 1.5rem;
$dialog-default-margin-bottom: 1.5rem;
$dialog-padding: 2.5rem;

$dialog-button-primary-color: #19686A;
$dialog-button-primary-text-color: #ffffff;
$dialog-button-normal-color: #ffffff;
$dialog-button-normal-text-color: #000000;
$dialog-button-border-radius: 0.5rem;
$dialog-button-padding: 0.65rem 1.0rem;

@mixin dialog-base {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: $dialog-modal-bg-color;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    div.dialog-content {
        background-color: $dialog-bg-color;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        border-radius: $dialog-border-radius;

        max-width: $dialog-max-width;
        max-height: $dialog-max-height;

        padding: $dialog-padding;
    }

    .dialog-row {
        margin-bottom: $dialog-default-margin-bottom;
    }
}

div.dialog {
    @include dialog-base;
}

button.dialog-btn {
    border-radius: $dialog-button-border-radius;
    padding: $dialog-button-padding;

    &.primary {
        background-color: $dialog-button-primary-color;
        color: $dialog-button-primary-text-color;
    }

    &.normal {
        background-color: $dialog-button-normal-color;
        color: $dialog-button-normal-text-color;
        border: 1px $dialog-button-normal-text-color solid;
    }
}

div.dialog-title {
    font-size: $dialog-title-font-size;
}

.dialog-row {
    margin-bottom: $dialog-default-margin-bottom;
}

.dialog-fade-enter-active, .dialog-fade-leave-active {
    transition: opacity 0.2s
}

.dialog-fade-leave-to {
    opacity: 0;
}

.dialog-fade-enter-from {
    opacity: 0;
}

.dialog-fade-enter-to {
    opacity: 1;
}